<!--<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">First number:</label>
                    <input [(ngModel)]="firstnumber1" type="number" class="form-control" id="formGroupExampleInput" placeholder="Enter a number">
                 </div>
                 <div class="mb-3">
                     <label for="formGroupExampleInput2" class="form-label">Second number:</label>
                    <input [(ngModel)]="secondnumber2" type="number" class="form-control" id="formGroupExampleInput2" placeholder="Enter a number">
                  </div>
                  <div class="mb-3">
                     <button (click)="sub()" class="btn btn-primary">Answer</button>
                  </div>
                  <p>Output:{{output2}}</p>
            </div>
        </div>
    </div>
  </div>
-->