<!--<h3>Angular Forms</h3>
<h4>Calculating input values:</h4>
<div class="container">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4">
              <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">First number:</label>
                  <input [(ngModel)]="firstnumber" type="number" class="form-control" id="formGroupExampleInput" placeholder="Enter a number">
               </div>
               <div class="mb-3">
                   <label for="formGroupExampleInput2" class="form-label">Second number:</label>
                  <input [(ngModel)]="secondnumber" type="number" class="form-control" id="formGroupExampleInput2" placeholder="Enter a number">
                </div>
                <div class="mb-3">
                   <button (click)="add()" class="btn btn-primary">Answer</button>
                </div>
                <p>Output:{{output}}</p>
          </div>
      </div>
  </div>
</div>

<app-subtract></app-subtract>

<app-data-binding></app-data-binding>
-->
<!--Custom pipes
<div>{{user.school}}</div>
<div>{{test | date :'long'}}</div>
{{ex | currency:'USD':'USD':'.5'}}<br>
{{"I'm " + user.name | titlecase}}
<div>{{user.school | custompipe : user.school : user.std }}</div>
{{user.dob | date:'MMMM d y' | uppercase}}

{{2+2}}
-->
<div class="bg-primary">Welcome to {{title}} </div>
<br>
<div class="">
    <button style="padding: 20px; color: white; background-color: green;" routerLink="tasks">Load Tasks Module</button><br><hr>
    <button style="padding: 20px; color: white; background-color: blue;" routerLink="todos">Load Todos Module</button><hr>
    <router-outlet></router-outlet>
<router-outlet></router-outlet>
</div>
